<%= form_for(artealvid) do |f| %>
  <% if artealvid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artealvid.errors.count, "error") %> prohibited this artealvid from being saved:</h2>

      <ul>
      <% artealvid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_area :lastname %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.text_field :role %>
  </div>

  <div class="field">
    <%= f.label :position %>
    <%= f.text_area :position %>
  </div>

  <div class="field">
    <%= f.label :fecha %>
    <%= f.date_select :fecha %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
