<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artealvid.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @artealvid.lastname %>
</p>

<p>
  <strong>Role:</strong>
  <%= @artealvid.role %>
</p>

<p>
  <strong>Position:</strong>
  <%= @artealvid.position %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @artealvid.fecha %>
</p>

<%= link_to 'Edit', edit_artealvid_path(@artealvid) %> |
<%= link_to 'Back', artealvids_path %>
